.user-panel>.info {
    position: unset;
}

.products_files_area {
    margin-top: 20px;
}

.image_area {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product_image {
    width: 150px;
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.product_image img {
    width: 100%;
}